*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/main/res/drawable/boy_happy.png
/app/src/main/res/drawable/boy_sad.png
/app/src/main/res/drawable/girl_happy.png
/app/src/main/res/drawable/girl_sad.png